body {
    color: var(--text-color);
    background-color: var(--primary-white);

    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;

    line-height: calc(16 / 14);
}
