.social-container__call {
    color: var(--primary-white);

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.social-container__social-list {
    margin-top: 20px;
}