:root {
    --text-color: #757575;
    --accent-color: #2196f3;
    --dark-bg: #2f303a;
    --title-text-color: #212121;
    --primary-white: #ffffff;
    --button-bg: #f5f4fa;
    --black: #000000;
    --opacity-white: rgba(255, 255, 255, 0.6);
    --border-color: #ececec;
    --portfolio-border-color: #eeeeee;
    --icon-color: #afb1b8;
    --transparent-black: rgba(255, 255, 255, 0.1);
}
